<% content_for :title do %>About<% end %>
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <h3>About the Website</h3>
    </div>
    <div class="row">
      <p>
        This web application was created with <%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %> from the <%= link_to('RailsApps project', 'http://railsapps.github.io/') %>.
      </p>
    </div>
  </div>
</div>