<% content_for :title do %>Contact<% end %>
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <h3>Where to Find Us</h3>
    </div>
    <div class="row">
      <p>
        Civic Hack Athens is happening in the Athens-Banner Herald Building on the east side of downtown.
        This web application was created with <%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %> from the <%= link_to('RailsApps project', 'http://railsapps.github.io/') %>.
      </p>
    </div>
  </div>

  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d26475.37028168003!2d-83.3890783360977!3d33.95600975664594!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f66cdbf5b53e53%3A0x4d8209b287e561c3!2sOne+Press+Place+Building!5e0!3m2!1sen!2sus!4v1464921284781" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
